@model BeSide.Presenter.WebSite.Models.User.EditProviderProfileViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="site-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="form-wrap">
                    @using (Html.BeginForm("EditProvider", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-group col-md-12">
                            <h4>Редактирование профиля</h4>
                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.Id)

                            <div class="form-group">
                                @Html.LabelFor(model => model.Email, new { @class = "col-md-5" })
                                <div class="col-md-10">
                                    <input type="email" name="Email" class="form-control py-2" maxlength="50" autocomplete="off" required value="@Model.Email" />
                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.FirstName, new { @class = "col-md-2" })
                                <div class="col-md-10">
                                    <input type="text" name="FirstName" class="form-control py-2" maxlength="50" autocomplete="off" required value="@Model.FirstName" />
                                    @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.LastName, new { @class = "col-md-2" })
                                <div class="col-md-10">
                                    <input type="text" name="LastName" class="form-control py-2" maxlength="50" autocomplete="off" required value="@Model.LastName" />
                                    @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Patronymic, new { @class = "col-md-2" })
                                <div class="col-md-10">
                                    <input type="text" name="Patronymic" class="form-control py-2" maxlength="50" autocomplete="off" required value="@Model.Patronymic" />
                                    @Html.ValidationMessageFor(model => model.Patronymic, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.PhoneNumber, new { @class = "col-md-3" })
                                <div class="col-md-10">
                                    @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control py-2", id = "phone", placeholder = "+375(XX) XXX-XX-XX", required = string.Empty })
                                    @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                                </div>
                            </div>


                            <div class="form-group">
                                @Html.LabelFor(model => model.CompanyName, new { @class = "col-md-2" })
                                <div class="col-md-10">
                                    <input type="text" name="ComanyName" class="form-control py-2" maxlength="100" autocomplete="off" value="@Model.CompanyName" />
                                    @Html.ValidationMessageFor(model => model.CompanyName, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Discription, htmlAttributes: new { @class = "col-md-2" })
                                <div class="col-md-10">
                                    <textarea name="Discription" id="message" class="form-control py-2" cols="30" rows="8" maxlength="1000">@Model.Discription</textarea>
                                    @Html.ValidationMessageFor(model => model.Discription, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.Label("Загрузить фото", new { @class = "col-md-3" })
                                <div class="col-md-10">
                                    <input type="file" name="upload" id="Image" accept="image/*" />
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-10 mt-4">
                                    @Html.HiddenFor(m => m.Id)
                                    <input type="submit" value="Сохранить" class="btn btn-primary px-5" />
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    window.onbeforeunload = confirmExit;
    function confirmExit() {
        return "You have attempted to leave this page.  If you have made any changes to the fields without clicking the Save button, your changes will be lost.  Are you sure you want to exit this page?";
    }
</script>
