@using BeSide.Presenter.WebSite.Models
@model LoginViewModel
@{
    ViewBag.Title = "Авторизация";
    Layout = "../Shared/_Layout.cshtml";
}

@if (Request.IsAuthenticated)
{
    Response.Redirect("~/Home/Index");
}

<section class="site-hero site-sm-hero overlay" data-stellar-background-ratio="0.5" style="background-image: url(../../Content/images/big_image_2.jpg);">
    <div class="container">
        <div class="row align-items-center justify-content-center site-hero-sm-inner">
            <div class="col-md-7 text-center">

                <div class="mb-5 element-animate">
                    <h1 class="mb-2">Вход</h1>
                    <p class="bcrumb">
                        @Html.RouteLink("Домой", new
                        {
                            controller =  "Home",
                            action = "Index"
                        })
                        <span class="sep ion-android-arrow-dropright px-2"></span>
                        <span class="current">Войти</span>
                    </p>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- END section -->

<section class="site-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-7">
                <div class="form-wrap">
                    <h2 class="mb-4">Войдите в ваш профиль</h2>
                    @using (Html.BeginForm("Login", "Account", FormMethod.Post))
                    {
                        <div class="row">
                            <div class="col-md-12 form-group">
                                @Html.LabelFor(m => m.Email, "Email")
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control py-2" })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row mb-5">
                            <div class="col-md-12 form-group">
                                @Html.LabelFor(m => m.Password, "Пароль")
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control py-2" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <input type="submit" value="Login" class="btn btn-primary px-5 py-2">
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>