@model BeSide.Presenter.WebSite.Models.RegisterViewModel

@{
    ViewBag.Title = "Регистрация";
    Layout = "../Shared/_Layout.cshtml";
}

@if (Request.IsAuthenticated)
{
    Response.Redirect("~/Home/Index");
}

<section class="site-hero site-sm-hero overlay" data-stellar-background-ratio="0.5" style="background-image: url(../../Content/images/big_image_2.jpg);">
    <div class="container">
        <div class="row align-items-center justify-content-center site-hero-sm-inner">
            <div class="col-md-7 text-center">

                <div class="mb-5 element-animate">
                    <h1 class="mb-2">Регистрация</h1>
                    <p class="bcrumb">
                        @Html.RouteLink("Домой", new
                        {
                            controller = "Home",
                            action = "Index"
                        })
                        <span class="ion-android-arrow-dropright px-2"></span> <span>Регистрация</span>
                    </p>
                </div>

            </div>
        </div>
    </div>
</section>

<section class="site-section" id="loginForm">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-7">
                <div class="form-wrap">
                    <h2 class="mb-5">Зарегистрировать новый аккаунт</h2>
                    @using (Html.BeginForm("Register", "Account", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        
                        <div class="row">
                            <div class="col-md-12 form-group">
                                @Html.LabelFor(m => m.Email, "Email")
                                <input type="email" name="Email" class="form-control py-2" maxlength="50" autocomplete="off" required/>
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 form-group">
                                @Html.LabelFor(m => m.Password, "Пароль")
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control py-2", required=string.Empty, })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 form-group">
                                @Html.LabelFor(m => m.ConfirmPassword, "Повторите пароль")
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control py-2", required = string.Empty })
                                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-md-12 form-group">
                                @Html.LabelFor(m => m.FirstName, "Имя")
                                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control py-2", maxlength=50, autocomplete = "off", required=string.Empty })
                                @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 form-group">
                                @Html.LabelFor(m => m.LastName, "Фамилия")
                                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control py-2", maxlength = 50, autocomplete = "off", required=string.Empty })
                                @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 form-group">
                                @Html.LabelFor(m => m.Patronymic, "Отчество")
                                @Html.TextBoxFor(m => m.Patronymic, new { @class = "form-control py-2", maxlength = 50, autocomplete = "off", required = string.Empty })
                                @Html.ValidationMessageFor(m => m.Patronymic, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 form-group">
                                @Html.LabelFor(m => m.PhoneNumber, "Номер телефона")
                                @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control py-2", id = "phone", placeholder = "+375(XX) XXX-XX-XX", required = string.Empty })
                                @Html.ValidationMessageFor(m => m.PhoneNumber, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row mb-5">
                            <div class="col-md-12 form-group">
                                <div class="custom-control custom-radio">
                                    @Html.RadioButtonFor(m => m.Role, "provider", new { @class = "custom-control-input", id = "Role1" })
                                    @Html.LabelFor(m => m.Role, "Провайдер", new { @class = "custom-control-label", @for = "Role1" })
                                </div>

                                <div class="custom-control custom-radio">
                                    @Html.RadioButtonFor(m => m.Role, "client", new { @class = "custom-control-input", id = "Role2" })
                                    @Html.LabelFor(m => m.Role, "Клиент", new { @class = "custom-control-label", @for = "Role2" })
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 form-group">
                                <input type="submit" value="Зарегистрироваться" class="btn btn-primary px-5 py-2">
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    document.getElementById("loginForm").scrollIntoView();
</script>