@using BeSide.Common.Entities
@model BeSide.Common.Entities.ApplicationUser

@{
    ViewBag.Title = "UserProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="site-section">
    <div class="container">
        <div class="row align-items-center justify-content-center site-hero-inner">
            <div class="col-md-10">
                <div class="mb-5 element-animate">
                    <div class="block-17 row">
                        <div class="col-5 btn-group-vertical">
                            @if (User.IsInRole("provider"))
                            {
                                @Html.RouteLink("Мои отклики", new { controller = "Admin", action = "Users" }, new { @class = "btn btn-primary py-2 px-4" })
                                @Html.RouteLink("Подтвержденные отклики", new { controller = "Admin", action = "Category" }, new { @class = "btn btn-primary py-2 px-4" })
                                @Html.RouteLink("Выполненные заказы", new { controller = "Admin", action = "Service" }, new { @class = "btn btn-primary py-2 px-4 mb-3" })
                        
                            }
                            else if (User.IsInRole("client"))
                            {
                                @Html.RouteLink("Мои объявления", new { controller = "Account", action = "UserOrders" }, new { @class = "btn btn-primary py-2 px-4" })
                                @Html.RouteLink("Отклики на объявления", new { controller = "Admin", action = "Category" }, new { @class = "btn btn-primary py-2 px-4" })
                                @Html.RouteLink("Выполненные заказы", new { controller = "Account", action = "UserOrdersStatused", orderStatus = OrderStatus.Complited }, new { @class = "btn btn-primary py-2 px-4 mb-3" })
                        
                            }
                        </div>
                        
                        <div class="col-5 block-28 text-center mb-5">
                            <figure>
                                <img src="../../Content/images/person_3.jpg" alt="" class="img-fluid">
                            </figure>
                            <h2>@Model.UserProfile.LastName @Model.UserProfile.FirstName</h2>
                            <h3 class="subheading">@Model.Email</h3>
                            <a href="#">Редактировать профиль</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

