@using BeSide.Common.Entities
@model IEnumerable<Category>

@{
    ViewBag.Title = "Service";
    Layout = "~/Views/Shared/AdminPanel.cshtml";
}

<h2>Сервисы</h2>
@foreach (Category category in Model)
{
    if (category.Services.Count == 0)
    {
        continue;
    }

    <h4 class="text-left ml-3">@category.Name</h4>

    foreach (Service service in category.Services)
    {
        <div class="row ml-1">
            <p class="col-9 text-left">@service.Name</p>
            <div class="form-check-inline">
                @Html.Hidden("id", service.Id)
                @Html.ActionLink("Изменить", "EditService", "Admin", new { id = service.Id }, new { @class = "btn btn-primary ml-3" })
                @Html.ActionLink("Удалить", "DeleteService", "Admin", new { id = service.Id }, new { @class = "btn btn-primary ml-1" })
            </div>
        </div>
        <hr />
    }
}
