@using BeSide.Common.Entities
@using BeSide.Presenter.WebSite.Models.Order
@using Microsoft.Ajax.Utilities
@model BeSide.Presenter.WebSite.Models.Order.OrderViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="site-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="form-wrap">
                    @using (Html.BeginForm("Create", "Order", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()

                        <h4>Добавление заказа</h4>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        
                        <div class="form-group col-md-10">
                            @Html.LabelFor(model => model.ServiceId, new { @class = "col-md-3" })
                            <select name="ServiceId" class="form-control" id="searchSelect">
                                @foreach (Category category in ViewBag.Category)
                                {
                                    if (category.Services.Count == 0)
                                    {
                                        continue;
                                    }

                                    <optgroup label="@category.Name">
                                        @foreach (Service service in category.Services)
                                        {
                                            <option value="@service.Id">@service.Name</option>
                                        }
                                    </optgroup>
                                }

                            </select>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.ShortDescription, new { @class = "col-md-3" })
                            <div class="col-md-10">
                                <input type="text" name="ShortDescription" class="form-control" maxlength="100" required autocomplete="off"/>
                                @Html.ValidationMessageFor(model => model.ShortDescription, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.FullDescription, htmlAttributes: new { @class = "col-md-3" })
                            <div class="col-md-10">
                                @Html.TextAreaFor(model => model.FullDescription, new {@class = "form-control", id = "exampleFormControlTextarea1", rows = 5, maxlength = "1000" })
                                @Html.ValidationMessageFor(model => model.FullDescription, "", new {@class = "text-danger"})
                            </div>
                        </div>

                        <div class="form-group row ml-1">
                            @Html.LabelFor(model => model.NameProvider, htmlAttributes: new { @class = "col-md-1" })
                            <div class="col-md-2">
                                <input type="text" name="NameProvider" class="form-control" maxlength="50" required autocomplete="off"/>
                                @Html.ValidationMessageFor(model => model.NameProvider, "", new { @class = "text-danger" })
                            </div>

                            @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "col-md-1" })
                            <div class="col-md-2">
                                <input type="number" min=0 max="1000000" name="Price" class="form-control autocomplete="off""/>
                                @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                            </div>

                            <div class="col-md-3 form-check">
                                @Html.LabelFor(model => model.ContractPrice, htmlAttributes: new { @class = "col-md-3" })
                                @Html.CheckBoxFor(model => model.ContractPrice, new { @class = "float-right" })
                                @Html.ValidationMessageFor(model => model.ContractPrice, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        
                        <div class="form-group">
                            @Html.LabelFor(model => model.Deadline, htmlAttributes: new { @class = "col-md-3" })
                            <div class="col-md-10">
                                <input type="text" id='datetimepicker' data-toggle="datepicker" name="Deadline" class="form-control" min="@DateTime.Now.Year-@DateTime.Now.Month-@DateTime.Now.Day" required autocomplete="off"/>
                                @Html.ValidationMessageFor(model => model.Deadline, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control" }})
                                @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-10">
                                <input type="submit" value="Добавить объявление" class="btn btn-primary" />
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>