@using System.Globalization
@using BeSide.Common.Entities
@using BeSide.Presenter.WebSite.Models.Feedback
@using Microsoft.AspNet.Identity
@model BeSide.Presenter.WebSite.Models.Order.OrderViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="site-section">
    <div class="container col-md-10 form-wrap justify-content-center">

        <div class="row border-bottom">
            <div class="col-md-7">
                @*<h3>@ViewBag.User.UserProfile.FirstName</h3>*@
                <h3>@Model.ShortDescription</h3>

            </div>
            <div class="col-md-3">
                <div class="align-content-center">
                    @if (Model.ContractPrice)
                    {
                        <h5>цена договорная</h5>
                    }
                    else
                    {
                        <h5>@Model.Price</h5>
                    }
                </div>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-7">
                <div class="text">
                    @Model.FullDescription
                </div>
                @if (Model.ProviderProfileId == User.Identity.GetUserId())
                {
                    <div class="text">
                        <h4>@ViewBag.User.PhoneNumber</h4>
                    </div>
                }
            </div>
            <div class="col-md-3 col-lg-3 mb-5 mb-lg-0">
                <div class="block-25">
                    <ul>
                        <li>
                            <span class="icon ion-android-list"></span>
                            <span class="text">@Model.ServiceModel.Name</span>
                        </li>
                        <li>
                            <span class="icon ion-android-pin"></span>
                            <span class="text">@Model.City</span>
                        </li>
                        <li>
                            <span class="icon ion-android-time"></span>
                            <span class="text">Выполнить до @Model.Deadline.ToShortDateString()</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Feedbacks -->
        <div class="row border-top mt-2 mb-2">
            <div class="col-md-11">
                @if (!Model.Feedbacks.Any())
                {
                    <h3 class="mb-5">Нет откликов</h3>
                }
                else
                {
                    <h3 class="mb-5">Отклики</h3>
                    <!-- Feedbacks list -->
                    <ul class="comment-list">
                        @foreach (FeedbackViewModel feedback in Model.Feedbacks)
                        {
                            <li class="comment row"  style="width: 90%">
                                <div class="vcard">
                                    <img src="../../Content/images/person_1.jpg" alt="Image placeholder" />
                                </div>
                                <div class="comment-body col">
                                    <h3>@feedback.ProviderProfile.LastName @feedback.ProviderProfile.FirstName</h3>
                                    <div class="meta">@feedback.CreateDate.ToString(CultureInfo.InvariantCulture)</div>
                                    <p>@feedback.Text</p>
                                </div>
                                <div class="col-md-2">
                                    @feedback.Price р.
                                </div>
                                @if (Model.ClientProfileId == User.Identity.GetUserId())
                                {
                                <div class="col-md-4 float-right">
                                    @if (Model.OrderStatus == OrderStatus.Active)
                                    {
                                        @Html.RouteLink("Выбрать исполнителем",
                                            new {controller = "Order", action = "SelectPerfomer", orderId = Model.Id, userId = feedback.ProviderProfileId},
                                            new {@class = "btn btn-primary float-right"})
                                    }
                                    @if (Model.ProviderProfileId == feedback.ProviderProfileId && Model.OrderStatus == OrderStatus.Accepted)
                                    {
                                        <div class="btn btn-primary float-right">Выбранный исполнитель</div>
                                    }
                                    @if (Model.ProviderProfileId == feedback.ProviderProfileId && Model.OrderStatus == OrderStatus.Complited)
                                    {
                                        <div class="btn btn-primary float-right">Выполнил заказ</div>
                                    }
                                </div>
                                }
                            </li>
                        }
                    </ul>

                }
            </div>

            @if (User.IsInRole("provider") && Model.Feedbacks.Count(m => m.ProviderProfileId == User.Identity.GetUserId()) == 0)
            {
                <div class="col-md-5 container float-right mt-2">
                    @Html.ActionLink("Откликнуться", "AddFeedback",
                        new { OrderId = Model.Id }, new { @class = "btn btn-primary px-5 py-2" })
                </div>
            }
        </div>
    </div>
</section>