@model BeSide.Presenter.WebSite.Models.Feedback.FeedbackViewModel

@{
    ViewBag.Title = "EditFeedback";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row justify-content-center">
    <div class="col-md-7">
        <div class="form-wrap">
            <h2 class="mb-4">Редактирование отклика</h2>
            @using (Html.BeginForm("EditFeedback", "Order", FormMethod.Post))
            {
                @Html.AntiForgeryToken();

                <div class="row">
                    <div class="col-md-12 form-group">
                        @Html.LabelFor(m => m.Text, "Описание")
                        @Html.TextBoxFor(m => m.Text, new { @class = "form-control py-2", maxlength = 200, min = 5 })
                        @Html.ValidationMessageFor(model => model.Text, "", new { @class = "text-danger" })

                        @Html.LabelFor(m => m.Price, "Цена")
                        <input type="number" name="Price" class="form-control py-2" step="0.01" min="1" max="1000000" value="@Model.Price"/>
                        @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })

                        <div class="row container">
                            @Html.HiddenFor(m => m.Id)
                            @Html.HiddenFor(m => m.OrderId)
                            @Html.HiddenFor(m => m.CreateDate)
                            @Html.HiddenFor(m => m.ProviderProfileId)
                            <input type="submit" value="Сохранить" class="btn btn-primary px-5 py-2 mt-2">
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>