@using System.Globalization
@using BeSide.Common.Entities
@using BeSide.Presenter.WebSite.Models.Category
@using BeSide.Presenter.WebSite.Models.Order
@using BeSide.Presenter.WebSite.Models.Service
@using PagedList.Mvc
@model PagedList.IPagedList<OrderViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "../Shared/_Layout.cshtml";
}

<section class="site-section">
    <div class="container-fluid">

        <!-- Search bar -->
        <div class="row">
            <div class="mb-4 col-md-8 container-fluid">
                @using (Html.BeginForm("Index", "Order", FormMethod.Get))
                {
                    @Html.TextBox("find", "",new { @class = "form-control py-2", placeholder = "Поиск в каталоге..." })
                }
            </div>
        </div>

        <div class="row align-items-baseline border-top">

            <!-- Category sidebar -->
            <div class="col-md-3 wrapper">
                <nav id="sidebar">
                    <div class="my-2 text-center">
                        <h3>Категории</h3>
                    </div>

                    @foreach (CategoryViewModel category in ViewBag.Categoryes)
                    {
                        if (!category.ServiceViewModels.Any())
                        {
                            continue;
                        }

                        <ul class="list-unstyled components">
                            <li class="active">
                                <a href="#@category.Id" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle dropdown-item">@category.Name</a>
                                <ul class="collapse list-unstyled" id="@category.Id">
                                    @foreach (ServiceViewModel service in category.ServiceViewModels)
                                    {
                                        <li>
                                            @Html.HiddenFor(m => service.Id)
                                            @Html.ActionLink($"{service.Name}", "Index", new { ServiceId = service.Id },
                 new { @class = "dropdown-item" })
                                        </li>

                                    }
                                </ul>
                            </li>
                        </ul>
                        }
                </nav>
            </div>

            <!-- Order view section -->
            <div class="col-md-9 border-left">
                @foreach (OrderViewModel order in Model)
                {
                    <div class="row align-items-center p-4 episode" style="width: 1030px;">
                        <div class="col-md-8">
                            <h4>
                                @Html.RouteLink($"{order.ShortDescription}",
                                    new { controller = "Order", action = "Details", id = order.Id},
                                    new{ @class=""})
                            </h4>

                            <p style="margin: 5px">@order.FullDescription</p>
                            <div class="row">
                                <div class="col">
                                    <span class="mx-1 icon ion-android-list">
                                        @order.ServiceModel.Name
                                    </span>
                                    <span class="mx-1 icon ion-android-pin">
                                        @order.City
                                    </span>
                                    <span class="mx-1 icon ion-android-time">
                                        @order.Deadline.ToShortDateString()
                                    </span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <p>Выложено @order.CreateDate.ToString(CultureInfo.InvariantCulture)</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            @if (order.ContractPrice)
                            {
                                <h5 class="text-center">Договорная</h5>
                            }
                            else
                            {
                                <h5 class="float-right">@order.Price р.</h5>
                            }

                            <div class="text-center">


                                @switch (order.OrderStatus)
                                {
                                    case OrderStatus.Active:
                                        <p>Активный</p>
                                        break;

                                    case OrderStatus.Complited:
                                        <p>Выполнен</p>
                                        break;

                                    case OrderStatus.Accepted:
                                        <p>Подтвержден</p>
                                        break;

                                    case OrderStatus.NotComplited:
                                        <p>Не выполнен</p>
                                        break;
                                }
                            </div>
                        </div>
                    </div>
                }
                <div class="block-27 text-center col-md-10">
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
                </div>
            </div>
        </div>
    </div>
</section>