<!DOCTYPE html>
<html>
<head>
    <title>BeSide</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/css/bootstrap.css">
    <link rel="stylesheet" href="~/Content/css/animate.css">
    <link rel="stylesheet" href="~/Content/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/fonts/ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="~/Content/fonts/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/fonts/flaticon/font/flaticon.css">
    <link rel="stylesheet" href="~/Scripts/" />
    <!-- Theme Style -->
    <link rel="stylesheet" href="~/Content/css/style.css">
</head>

<body>
    <header role="banner">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                @Html.RouteLink("BeSide", new
                {
                    controller = "Home",
                    action = "Index"
                }, new
                {
                    @class = "navbar-brand absolute"
                })
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse navbar-light" id="navbarsExample05">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item dropdown">
                            @Html.RouteLink("Заказы", new {controller = "Order", action = "Index"},
                                new { @class="nav-link dropdown-toggle"})
                            <div class="dropdown-menu" aria-labelledby="dropdown">
                                @Html.RouteLink("Все заказы", new { controller = "Order", action = "Index" }, new { @class = "dropdown-item" })
                                @if (User.IsInRole("client"))
                                {
                                    @Html.RouteLink("Добавить заказ", new { controller = "Order", action = "Create" }, new { @class = "dropdown-item" })
                                }
                            </div>
                        </li>
                        <li class="nav-item">
                            @Html.RouteLink("Исполнители", new {controller = "Executor", action = "Index"},
                                new { @class="nav-link"})
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="about.html">О нас</a>
                        </li>
                        <li class="nav-item">
                            @Html.RouteLink("Контакты", new { controller = "Home", action = "Contact"},
                                new { @class = "nav-link" })
                        </li>
                    </ul>
                    <ul class="navbar-nav absolute-right">
                        @if (Request.IsAuthenticated)
                        {
                            <li>
                                @Html.RouteLink(@User.Identity.Name, new
                                {
                                    controller = "Account",
                                    action = "UserProfile"
                                }) /
                                @Html.RouteLink("Выйти", new
                                {
                                    controller = "Account",
                                    action = "LogOff"
                                })

                                @if (User.IsInRole("admin"))
                                {
                                    <div class="nav-item text-center">
                                        @Html.RouteLink("Панель админа", new { controller = "Admin", action = "Index" })
                                    </div>
                                }
                            </li>
                        }
                        else
                        {
                            <li>
                                @Html.RouteLink("Войти", new
                                {
                                    controller = "Account",
                                    action = "Login"
                                }) /
                                @Html.RouteLink("Регистрация", new
                                {
                                    controller = "Account",
                                    action = "Register"
                                })
                            </li>
                        }
                    </ul>

                </div>
            </div>
        </nav>
    </header>

    @RenderBody()

    <footer class="site-footer border-top">
        <div class="container">
            <div class="row mb-3">
                <div class="col-md-6 col-lg-3 mb-5 mb-lg-0">
                    <h3>BeSide</h3>
                    <p>Выполняй и находи исполнителей.</p>
                </div>
                <div class="col-md-6 col-lg-3 mb-5 mb-lg-0">
                    <h3 class="heading">Прямая ссылка</h3>
                    <div class="row">
                        <div class="col-md-6">
                            <ul class="list-unstyled">
                                <li>
                                    @Html.RouteLink("Домой", new { controller = "Home", action = "Index" })
                                </li>
                                <li>
                                    @Html.RouteLink("Заказы", new { controller = "Order", action = "Index" })
                                </li>
                                <li><a href="#">Исполнители</a></li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul class="list-unstyled">
                                <li><a href="#">О нас</a></li>
                                <li>
                                    @Html.RouteLink("Контакты", new { controller = "Home", action = "Contact" })
                                </li>
                                <li><a href="#">Секретно</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 mb-5 mb-lg-0">
                    <h3 class="heading">Контактная информация</h3>
                    <div class="block-23">
                        <ul>
                            <li><span class="icon ion-android-pin"></span><span class="text">ул. Филимонова 15, Минск, Беларусь</span></li>
                            <li><a href="#"><span class="icon ion-ios-telephone"></span><span class="text">+375(25) 636-86-10</span></a></li>
                            <li><a href="#"><span class="icon ion-android-mail"></span><span class="text">usup1999@gmail.com</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row pt-3">
                <div class="col-md-12 text-center copyright">

                    <p class="float-md-left">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Sam Solutions &copy;
                        <a>
                            <script>document.write(new Date().getFullYear());</script> Сделано с душою <i class="fa fa-heart" aria-hidden="true"></i>
                        </a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                    <p class="float-md-right">
                        <a href="#" class="fa fa-facebook p-2"></a>
                        <a href="#" class="fa fa-twitter p-2"></a>
                        <a href="https://www.linkedin.com/in/yusup-tulukov-17981a14a/" class="fa fa-linkedin p-2"></a>
                        <a href="https://www.instagram.com/yusup_95_05/" class="fa fa-instagram p-2"></a>
                    </p>
                </div>
            </div>
        </div>
    </footer>

    <!-- loader -->
    <div id="loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#f4b214" /></svg></div>
    <script src="~/Content/js/jquery-3.2.1.min.js"></script>
    <script src="~/Content/js/jquery-migrate-3.0.0.js"></script>
    <script src="~/Content/js/popper.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/owl.carousel.min.js"></script>
    <script src="~/Content/js/jquery.waypoints.min.js"></script>
    <script src="~/Content/js/jquery.stellar.min.js"></script>
    <script src="~/Content/js/jquery.animateNumber.min.js"></script>
    <script src="~/Content/js/main.js"></script>
    <script src="~/Scripts/jquery.maskedinput.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#phone").mask("+375(99) 999-99-99");
        })
    </script>
</body>
</html>

