<!DOCTYPE html>
<html>
<head>
    <title>BeSide</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/css/bootstrap.css">
    <link rel="stylesheet" href="~/Content/css/animate.css">
    <link rel="stylesheet" href="~/Content/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/fonts/ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="~/Content/fonts/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/fonts/flaticon/font/flaticon.css">
    <!-- Theme Style -->
    <link rel="stylesheet" href="~/Content/css/style.css">
    <link href='@Url.Content("~/Content/themes/base/all.css")' rel="stylesheet" type="text/css" />
    <link href="~/Content/css/select2.min.css" rel="stylesheet" />
</head>

<body>
    <header role="banner">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                @Html.RouteLink("BeSide", new{controller = "Home", action = "Index" },
                    new { @class = "navbar-brand" })
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse navbar-light" id="navbarsExample05">
                    <ul class="navbar-nav mx-auto">
                        @if (User.IsInRole("client"))
                        {
                            <li class="nav-item">
                                @Html.RouteLink("Добавить заказ", new { controller = "Order", action = "Create" },
                                    new { @class = "nav-link" })
                            </li>
                        }
                        <li class="nav-item">
                            @Html.RouteLink("Заказы", new { controller = "Order", action = "Index" },
                                new { @class = "nav-link" })
                        </li>
                        <li class="nav-item">
                            @Html.RouteLink("Исполнители", new {controller = "Executor", action = "Index"},
                                new { @class="nav-link"})
                        </li>
                        <li class="nav-item">
                            @Html.RouteLink("Контакты", new { controller = "Home", action = "Contact"},
                                new { @class = "nav-link" })
                        </li>
                    </ul>
                    <ul class="navbar-nav absolute-right">
                        @if (Request.IsAuthenticated)
                        {
                            <li>
                                @Html.RouteLink(User.Identity.Name, new
                                {
                                    controller = "Account",
                                    action = "UserProfile"
                                }) /
                                @Html.RouteLink("Выйти", new
                                {
                                    controller = "Account",
                                    action = "LogOff"
                                })

                                @if (User.IsInRole("admin"))
                                {
                                    <div class="nav-item text-center">
                                        @Html.RouteLink("Панель админа", new { controller = "Admin", action = "Index" })
                                    </div>
                                }
                            </li>
                        }
                        else
                        {
                            <li>
                                @Html.RouteLink("Войти", new
                                {
                                    controller = "Account",
                                    action = "Login"
                                }) /
                                @Html.RouteLink("Регистрация", new
                                {
                                    controller = "Account",
                                    action = "Register"
                                })
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    @RenderBody()

    <footer class="site-footer border-top">
        <div class="container">
            <div class="row mb-3">
                <div class="col-md-6 col-lg-3 mb-5 mb-lg-0">
                    <h3>BeSide</h3>
                    <p>Выполняй и находи исполнителей.</p>
                </div>
                <div class="col-md-6 col-lg-3 mb-5 mb-lg-0">
                    <h3 class="heading">Прямая ссылка</h3>
                    <div class="row">
                        <div class="col-md-6">
                            <ul class="list-unstyled">
                                <li>
                                    @Html.RouteLink("Заказы", new { controller = "Order", action = "Index" })
                                </li>
                                <li>
                                    @Html.RouteLink("Исполнители", new { controller = "Executor", action = "Index" })
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul class="list-unstyled">
                                <li>
                                    @Html.RouteLink("Домой", new { controller = "Home", action = "Index" })
                                </li>
                                <li>
                                    @Html.RouteLink("Контакты", new { controller = "Home", action = "Contact" })
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 mb-5 mb-lg-0">
                    <h3 class="heading">Контактная информация</h3>
                    <div class="block-23">
                        <ul>
                            <li>
                                <a href="https://maps.google.com/?q=ул.+Филимонова+15+Минск+Беларусь">
                                    <span class="icon ion-android-pin"></span><span class="text">ул. Филимонова 15, Минск, Беларусь</span>
                                </a>
                            </li>
                            <li><a href="tg://resolve?domain=digital_gangster_95"><span class="icon ion-ios-telephone"></span><span class="text">+375 (25) 636-86-10</span></a></li>
                            <li><a href="mailto:usup1999@gmail.com"><span class="icon ion-android-mail"></span><span class="text">usup1999@gmail.com</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row pt-3">
                <div class="col-md-12 text-center copyright">

                    <p class="float-md-left">
                        Sam Solutions &copy;
                        <a>
                            <script>document.write(new Date().getFullYear());</script> Сделано с душой <i class="fa fa-heart" aria-hidden="true"></i>
                        </a>
                    </p>
                    <p class="float-md-right">
                        <a href="#" class="fa fa-facebook p-2"></a>
                        <a href="https://twitter.com/Yusup_Tulukov" class="fa fa-twitter p-2"></a>
                        <a href="https://www.linkedin.com/in/yusup-tulukov-17981a14a/" class="fa fa-linkedin p-2"></a>
                        <a href="https://www.instagram.com/yusup_95_05/" class="fa fa-instagram p-2"></a>
                    </p>
                </div>
            </div>
        </div>
    </footer>

    <!-- loader -->
    <div id="loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#f4b214" /></svg></div>
    @*<script src="~/Content/js/jquery-3.2.1.min.js"></script>*@
    @*<script src='@Url.Content("~/Scripts/jquery-3.3.1.min.js")' type="text/javascript"></script>
        <script src='@Url.Content("~/Scripts/jquery-ui-1.12.1.min.js")' type="text/javascript"></script>*@
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/Content/js/popper.min.js"></script>
    <script src="~/Content/js/owl.carousel.min.js"></script>
    <script src="~/Content/js/jquery.waypoints.min.js"></script>
    <script src="~/Content/js/jquery.animateNumber.min.js"></script>
    <script src="~/Scripts/jquery.maskedinput.min.js"></script>
    <script src="~/Content/js/jquery.stellar.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/jquery-migrate-3.0.0.js"></script>
    <script src="~/Content/js/main.js"></script>
    <script src="~/Scripts/select2.min.js"></script>
    <script src="~/SweetAlert2/sweetalert2.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@latest/dist/sweetalert2.all.js"></script>
    <script>
        $(document).ready(function () {
            $("#phone").mask("+375(99) 999-99-99");
        });
    </script>
    <script type="text/javascript">
        $(function () {
            $("[data-autocomplete-source]").each(function () {
                var target = $(this);
                target.autocomplete({ source: target.attr("data-autocomplete-source") });
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $("#searchSelect").select2();
        });
    </script>

    <script>
        $(function () {
            $('#datetimepicker').datepicker({
                local: 'ru',
                minDate: new Date().getDate()
            });

        });

        $(' [data-toggle = "datepicker"] ').datepicker({
            format: 'yyyy.mm.dd'
        });
    </script>
<script>
    $("#add_order").click(function () {
        swal({
            title: 'Объявление успешно добавлено!',
            type: 'success',
            confirmButtonText: 'OK',
            confirmButtonColor: '#11cbd7'
        });
    });

    $("#delete").click(function() {
        swal({
            title: 'Вы действительно хотите удалить?',
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#11cbd7',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Да, удалить!'
        }).then((result) => {
            if (result.value) {
                swal({
                    title: 'Удалено!',
                    text: 'Объявление успешно удалено.',
                    type: 'success',
                    confirmButtonText: 'OK',
                    confirmButtonColor: '#11cbd7'
                });
            }
        });
    });
</script>
</body>
</html>

